<div class="container-fluid">
  <div class="container text-center">
    <form>
      <h1>Congratulations</h1>
      <p>Customer ID has been sent via Email</p>
      <div class="form-group">
        <label for="newPassword">Enter New Password</label>
        <input
          type="password"
          id="newPassword"
          class="form-control"
          name="newPassword"
          placeholder="Enter New Password"
        />
      </div>
      <div class="form-group">
        <label for="reEnterPassword">Re-enter Password</label>
        <input
          type="password"
          id="reEnterPassword"
          class="form-control"
          name="reEnterPassword"
          placeholder="Re-enter Password"
        />
      </div>
   <button class="btn btn-primary" (click)="navigate()">
        Proceed
      </button>
    </form>
  </div>
</div>
