<div>
  <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="navbarResponsive"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <button class="btn btn-secondary" >
              Login
            </button>
          </li>
          <li class="nav-item active">
            <button
              class="btn btn-success"
              [routerLink]="['./create-account/upload-passport']"
            >
              Create Account
            </button>
            <button class="btn btn-primary" [routerLink]="['./register']">
              Register
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div></div>
